.table-header {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.table-cell {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.sticky-row {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0px;
}
